@page
@model ResetPasswordModel



<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">
        <div class="panel-heading">
            <h3 class="text-center"> Reset Password </h3>
        </div>

        <div class="panel-body">
            <form asp-controller="Account" asp-action="resetpassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Input.Token" />
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Email</label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Input.Email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" asp-for="Input.Password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" asp-for="Input.ConfirmPassword">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-sm-10  offset-sm-2">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
